<div class="page-container">
        <header>
            <nav class="nav">
                <div class="nav-logo">
                    <a routerLink="/">
                        <img src="/assets/images/logo.png" class="logo">
                    </a>
                </div>
                <div class="nav-menu">
                    <a class="boton" routerLink="/alumnos/registrar">Registrar Alumno</a>
                    <a class="boton" routerLink="/profesores/registrar">Registrar Profesor</a>
                    <a class="boton" routerLink="/color">Color</a>
                </div>
            </nav>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>

        <footer>
            <div class="footer-wrapper">
                <hr>
                <div class="footer-content">
                    <div class="footer-info">
                        <span>© Copyright {{ date | date:'yyyy' }}</span>
                    </div>
                    <div class="footer-options">
                        <a routerLink="/">Inicio</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
